.container{
    display: flex;
    list-style: none;
    justify-content: center;
  
  }
  .page{
    background-color: #0073b2cf;
    color: #fff;
    padding: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    margin-right: 10px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    width: 50px;
    height: 43px;
  }
  .page a,.previous a,.next a{
    padding: 10px;
    text-align: center;
  }
  .previous{
    padding: 10px;
    border-radius: 6px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .next{
    padding: 10px;
    border-radius: 6px;
    margin-right: 10px;
    cursor: pointer;
    width: 82px
  }
  .active{
      border: 2px solid #000;
    background-color: #0c7dbafd;
      font-weight: bold;
  }